// Place all the styles related to the chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chatroom {
	height: 100%;
  max-height: 100%;
}

.chat-title {
	height: 36px;
}

.message-area {
	height: 60vh;
	max-height: 60vh;
	overflow-y: scroll;
	border-top: 1px solid #dbdbdb;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	border-radius: 5px 5px 0px 0px;
	padding: 15px;
}

.chat-area {
	height: 180px;
}

.message-piece {
	margin-bottom: 5px;
}

.chat-box {
	border-radius: 0px 0px 5px 5px;
}