<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Chatrooms
      </a>
    </div>
      

    <div class="navbar-end">
      <div class="navbar-item">
        <% if user_signed_in? %>
          <div class="navbar-item">
            <%= link_to 'Sign out', destroy_user_session_path %>
          </div>
        <% else %>
          <div class="buttons">
            <a class="button is-primary">
              <strong><%= link_to 'Sign up', new_user_registration_path %></strong>
            </a>
            <a class="button is-light">
              <%= link_to 'Sign in', new_user_session_path %>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>